@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ruda:wght@400;600;700&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: crimson;
    font-family: "poppins", sans-serif;
}

.container{
    max-width: 600px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    padding: 2rem;
}

.container h2 {
    font-size: 2rem;
    text-align: center;
    color: darkred
}

.album_content {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
}

.image {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
}

.button {
    display: flex; 
    justify-content: center;
    margin: 1.5rem 0;
}

ul li i {
    color: darkred;
    font-size: 1.2rem;
}

.button button {
    outline: none;
    border: none;
    font-family: "poppins", sans-serif;
    background-color: darkred;
    color: white;
    padding: 0.9rem 2rem;
    border-radius: 30px;
    cursor: pointer;
}

.button button:active,
ul li:active {
    transform: scale(0.98);
}